/* Complete the CSS styling according to the provided design */
@import url("/javaScript/level_2_update/resetSettings.css");

:root {
  --input-color: rgb(63, 150, 37);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #016f32;
  background-size: cover; /* para que cubra toda la pantalla */
  color: white;
  font-weight: bold;
  margin: 0 auto;
}

/* main menu section */

#main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#main-menu.deactive {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

/* name input */

#player-input {
  opacity: 0;
  visibility: hidden;
  outline: none;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  margin: 10px;
  border-radius: 0.5em;
  padding: 0.7em;
  font-size: 1rem;
  text-transform: capitalize;
  transition: 1s ease, outline 1s ease;
}

#player-input.active {
  opacity: 1;
  visibility: visible;
  transition: 1s ease, outline 1s ease;
}

#player-input:hover {
  transition: linear 1.25s;
  outline: 1px solid white;
}

#player-input:focus {
  background-color: var(--input-color);
  border: none;
  outline: 1px solid white;
  transition: 1s ease;
}

#player-input::placeholder {
  color: white;
  font-weight: bold;
}

#player-input:focus::placeholder {
  color: var(--input-color);
}

/* para que el color del input sea el mismo que el color de fondo */
#player-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-color) inset !important;
}

/* alerta 1 oculta */

#alert-one {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-size: 1rem;
  color: red;
  text-shadow: 0 0 2px black;
  margin: 0.25em;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* transición de 0.5s cunaod se oclta */
}

/* alerta 1 mostrada */
#alert-one.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* transición de 0.5s cunaod se muestre */
}

/* game section */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 10px;
}

#table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  width: 425px;
  height: 220px;
  border: 5px solid black;
  border-radius: 20px;
}

#player-card,
#dealer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 150px;
  text-transform: capitalize;
  /* border: 2px solid white; */
}

.title {
  text-align: center;
  margin: 0 0 20px 0;
}

#cards-el,
#dealer-cards {
  height: 50px;
}
/* #cards-el,
#sum-el,
#dealer-cards,
#dealer-sum {} */

/* alerta 2 oculta */

#alert-msg {
  opacity: 0;
  visibility: hidden;
  position: relative;
  font-size: 1rem;
  color: red;
  text-shadow: 0 0 2px black;
  text-transform: capitalize;
  margin: 0.25em;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* transición de 0.5s cunaod se oclta */
}

/* alerta 2 mostrada */
#alert-msg.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* transición de 0.5s cunaod se muestre */
}

h1 {
  color: goldenrod;
  margin: 0.25em;
}

button {
  text-align: center;
  line-height: 1rem;
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  padding: 1.1em 0.5em 1em 0.5em;
  margin: 8px;
  text-transform: uppercase;
}

button:hover {
  background-color: #f0c14b;
}

button:active {
  scale: 1.1;
}

#message-el {
  font-style: italic;
  margin: 8px;
}

#player-el {
  text-align: center;
  margin: 10px;
  text-transform: capitalize;
}

.main-btns {
  display: grid;
  grid-template: 3fr / 2fr auto;
  grid-auto-rows: auto-fill;
  gap: 10px;

  margin: 10px;
}

#add-one,
#add-eleven {
  width: 50px;
}

@media (max-width: 530px) {
  .main-btns {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  #table-container {
    width: 340px;
    height: 200px;
  }

  #player-card,
  #dealer-card {
    width: 120px;
  }
}
