.main-div {
  text-align: center;
  color: #121212;
  font-family: arial;
}

.main-img {
  border: 3px solid #121212;
  width: 380px;
}

.main-msg {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  width: 380px;
}

.inp-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px;
  display: block;
  border: 3px solid #121212;
  text-align: center;
  width: 250px;
}

.btn-warpper {
  display: flexbox;
  justify-content: center;
}

.btn-1 {
  color: white;
  margin: 10px;
  padding: 11px;
  background: #121212;
  font-weight: bold;
  line-height: 1.5;
  width: 276px;
}

.lnk-1 {
  font-family: arial;
  font-style: italic;
  text-align: center;
  color: #121212;
  margin-top: 10px;
}
